


.cmd{
	padding-top: 20px;
	padding-bottom: 20px;
}

.cmd, .cmd *{
	color:  #87909c !important;
	font-style: normal !important;
}

.show-side{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 300;
	width: 80%;
	transition: all 1s linear;
	overflow-y: scroll;
	padding-top: 50px;
    backdrop-filter: blur(5px);
}

.show-side *{
	font-size: 15px;
}

.code {background-color: inherit !important;}


.key{
	background-color: #EFF1F3;
	border-radius: 5px;
	padding: 3px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
}


.blink{
    color: #7e57c0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #F2EEF9;
    font-size: 17px !important;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bolder;
}

.args{
	font-weight: normal !important;
	font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-family: monospace !important;
    font-size: 17px !important;
}

.fn{
	font-weight: normal !important;
	font-family: monospace !important;
}

.type{
	font-size: 13px !important;
	font-weight: normal !important;
	padding-right: 10px;
}