@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body{
	/*background-color: #F1EDE9;*/
}


.sidebar {
    padding: 30px;
    padding-top: 20px;
    background-color: #F3F4F6;
}

.sidebar *{
	font-size: 16px;
	color: #373b3d;
}

.cat{
	color: #272b2d;

}

.sidebar a:hover{
    background-color: #F3F6F9;
}

.bg-content *{
}

.font-bold{
	font-weight: 500 !important;
}

.gy, .gy *{
    font-family: 'Gilroy-Medium', sans-serif;
}

.cmd{
	padding-top: 20px;
	padding-bottom: 20px;
}

.cmd, .cmd *{
	color:  #87909c !important;
	font-style: normal !important;
}

.show-side{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 300;
	width: 80%;
	transition: all 1s linear;
	overflow-y: scroll;
	padding-top: 50px;
    backdrop-filter: blur(5px);
}

.show-side *{
	/*font-size: 15px;*/
}

.code {background-color: inherit !important;}


.key{
	font-size: inherit;
	color: #1b6700;
}



.blink{
    color: #7e57c0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #F2EEF9;
    font-size: 17px !important;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bolder;
    display: none;
}

.args{
	font-weight: normal !important;
	font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-family: monospace !important;
    font-size: 17px !important;
}

.fn{
	font-weight: normal !important;
	font-family: monospace !important;
}

.type{
	font-size: 13px !important;
	font-weight: normal !important;
	padding-right: 10px;
}

.bb{
	border-bottom: 1px solid #DEE2E6 !important;
}

.tbb{
	border-top: 1px solid #DEE2E6;
}

.tbb *{
	font-size: 15px !important;
	font-family: 'Liberation Mono', sans-serif !important;
}


.bold{
    font-weight: 600;
}

.logo sub{
	font-size: 14px !important;
	font-weight: bold;
}

.text-xl-3, .text-4xl, .text-2xl, .text-3xl, .cc{
	color: #2c4f7c !important;
	font-weight: 600 !important;
}

.color *{
	color: white;
}