@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/liberation-mono');


.fn{ font-family: 'gg sans Normal', sans-serif !important; }

.fm{ font-family: 'gg sans Medium', sans-serif !important; }

.fs{ font-family: 'gg sans SemiBold', sans-serif !important; }

.pacific { font-family: 'Pacifico', cursive !important; }

.arvo{ font-family: 'Arvo', serif !important; }

*{
    font-family: 'gg sans Normal', sans-serif;
    color: #23272a;
}


.txt, .txt *{ color: #23272a !important; }

nav, .navd{
    background-color: #404EEDba;
    backdrop-filter: blur(5px);
}

nav *{
    color: white;
}

.mic{
    background-image: url('../img/land.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.land *{
    color: #ffffff;
}

.bg{ background-color: #23272A; }

svg { color: inherit !important; }

.smoky{ background-color: #F6F6F6; }

.code , .blend{
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Liberation Mono', sans-serif;
}


.foot{
    background-color: #303030;
}

.foot *{ color: white !important; }

.txc { color: #404EED !important; }


.sidebar{
    background-color: white;
    padding: 30px;
    padding-top: 20px;
}

.sidebar *{
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #12124b !important;
}



.content{ background-color: white; }

.content * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #24292f;
}

.link { color: #0969da !important; }

.link:hover{ text-decoration: underline; }

.text-white{ color: #fff !important; }

.line {
    height: 1px;
    background-color: #D8DEE4;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/*.navd { background-color: #000000f0; }*/
.navd *{ color: white; }

.menu{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    height: 100vh;
    background-color: #000000b0;
}

