
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');


*{
	padding: 0;
	margin: 0;
	color: #353535;
	font-family: 'SF UI Text', sans-serif;
	line-height: 1.563;
	font-size: 16px;
}

.bg-white{
	background-color: white;
}

.nav{
	border-bottom: 1px solid #00000020;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #2F2D34f5;
}

.nav p:hover{ opacity: 70%; }


.nav *{
	color: #424242;
	color: #fff;
	font-size: 15px;
}

.banner{
	background-color: #32B5AB;
}

.banner *{
	color: white;
	font-size: 15px;
}

.switch{
	border: 1px solid #72727270;
	border-radius: 50px;
	height: 20px;
	width: 46px;
	display: flex;
	align-items: center;
	justify-content: start;
}

.logo-img{
	height: 54px;
}

.paint{ background-color: #3F3D44; }
.paint *{ color: #fff; }

.orange {
	color: #FF8602;
	fill:  #FF8602;
}

.blue{ color: #68eEe3; }

.smoky{ background-color: #F5F5f5; }
.smoky-blue{ background-color: #Efefef; }
.b4{ font-weight: 400; }
.b5{ font-weight: 500; }
.b6{ font-weight: 600; }
.b7{ font-weight: 700; }
.b8{ font-weight: 800; }


.btn{
    padding: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: max-content;
    border-radius: 5px;
    background-color: #FF8602;
}

.big-img{
	height: 100px;
}

.rd{ border-radius: 50px; }


.navigator *{
	font-size: 15px !important;
	text-decoration: none !important;
	color: #71717a !important;
	font-weight: 500 !important;
}

.code, .code2{
	white-space: pre-wrap;
	background-color: #3F3D44f0;
	border-radius: 5px;
	padding: 20px;
}


.alert{
	background-color: #2661EA20;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px !important;
	border-radius: 5px;
}

.alert, .alert *{
	color: #2661EA !important;
	font-size: 15px !important;
}

.alert-warning{
	background-color: #FEF3A1;
}

.alert-warning *, .alert-warning{
	color: #713f12 !important;
}


.contents{ width: 63%; }


.tb, .tb *{ color: #3a4652 !important; }

.pl-10{ padding-left: 5px !important; }


.sidebar{
	width: 15%;
	z-index: 4;
	height: 100vh;
	overflow-y: scroll;
	background-color: #3F3D44;
}

.sidebar *{
	font-size: 14px;
	color: #cfcfcf !important;
	font-weight: 500;
 }

 .sidebar p:hover{ opacity: 75%; }

.menu-call{
	position: fixed;
	border-radius: 10px;
	right: 20px;
	bottom: 100px;
	color: white;
	background-color: #4D9358;
	padding: 5px;
	z-index: 7;
}

.menu-call *{
	color: white;
	font-size:24px;
}


.side-link{
	padding-top: 11px;
	padding-bottom: 5px;
	cursor: pointer;
	font-weight: 500;
	padding-left: 20px !important;
	margin-top: 10px;
}

.side-link, .side-link *{
	color: #fff !important;
}

.side-nav{
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	color: #333;
	margin-left: 4px;
	cursor: pointer;
	text-transform: capitalize;
	padding-left: 20px !important;
}


.side-child{
	border-right: 1px solid #6A472370;
	width: 80%;
	background-color: #DDF17160;
}


.title{
	font-size: 20px !important;
	font-weight: 500;
	color: #ffffff !important;
	font-family: 'Ubuntu', sans-serif !important;
}

.logo{
	text-transform: uppercase;
	font-size: 21px !important;
}

.tablez p{
	font-size: 15px;
	border-bottom: 1px solid #EFEFEF;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
	font-weight: 500;
	padding-left: 10px;
	padding-right: 10px;
}

.ubuntu{ 
	font-family: 'Ubuntu', sans-serif !important;
}

.b3{ font-weight: 300; }
.b4{ font-weight: 400; }
.b5{ font-weight: 500; }
.b6{ font-weight: 600; }
.b7{ font-weight: 700; }
.b8{ font-weight: 800; }
.b9{ font-weight: 900; }
.lh1{ line-height: 1.5; }
.lh2{ line-height: 1.3; }




.search{
	background-color: #00000020;
}

.search input{
	border: none;
	outline: none;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: transparent;
}

.search input::placeholder{ color: #fff; }




.book{
	border-radius: 15px;
	border-color: #ddd;
}

.book{ position: relative; }

.book-mask{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*background-color: #ffffffb0;*/
	z-index: 3;
}


.bd{ border-color: #D3D3D3; }



.t1, .t1 *{
	font-size: 58px;
	font-weight: 600;
	line-height: 1.2;
	font-family: 'General Sans', sans-serif;
	color: #101418;
}

.t2, .t2 *{
	font-weight: 600;
	font-size: 27px;
	color: #1c2025;
	font-family: 'General Sans', sans-serif;
}

.bl{
	font-weight: 600;
	color: #101010;
}

.icon-img{
	width: 30px;
}

.hl{ color: #3676ab; }

.alice{ background-color: #F9F5F1; }

.shade {
	color: #fff !important;
	font-size: 16px;
	background-color: #ffffff15;
	font-weight: normal;
}

.light{
	border-radius: 5px;
	padding: 5px;
	color: #644420;
	background-color: #FEC774;
}


.ban *{
	font-size: 15px;
	color: #fff;
}


footer{
	border-top: 1px solid #DEE2E6;
}

footer *{
	color: inherit !important;
	font-size: 14px !important;
	color: #ffffffd0 !important;
}

footer p{ margin-bottom: 2px !important; }


footer .b5{
	font-size: 20px !important;
	margin-bottom: 5px !important;
}


.a-none, .a-none *{
	text-decoration: none !important;
	color: #235a97;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.styled-table *{
	font-size: 14px !important;
	color: #71717a !important;
}

.styled-table thead tr {
    text-align: left;
    border-bottom: 1px solid #1D4FD740;
}

.styled-table thead tr * {
    color: #4a5568 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}


.styled-table th{
	font-weight: 600;
}

.styled-table td:nth-child(odd) {
	color: #1d4fd7 !important;
	font-weight: 500;
	font-size: 15px;
	display: flex;
	align-items: center;
}

.styled-table .obj, .styled-table .obj *, .styled-table td .obj{
	color: #000 !important;
	fill: #000 !important;
}


.styled-table th, .styled-table td {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #EFEFEF;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.hi{
	font-size: 23px;
}

.hi2{
	font-size: 30px;
}

.hi4{
	font-size: 35px;
}

.hi3{
	font-size: 19px;
}

.hi5{
	font-family: monospace;
	font-size: 16px;
}

.key{
	font-size: 13px;
	color: #4a5568 !important;
	text-decoration: none !important;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px !important;
	font-weight: 400 !important;
	background-color: #F0F0F1;
}

.args{
	font-family: monospace;
	font-size: 16px;
}

.table-many p{
	padding: 10px;
	padding-top: 0;
}

.table-many a{
	text-decoration: none;
	font-size: 15px;
}

.fn{
	font-size: 18px;
	font-weight: 500;
}

@media (max-width:  1400px){
	.contents{
		width: 73%;
	}
}

@media (max-width:  1200px){
	.contents{
		width: 83%;
	}
}

@media (max-width:  768px){
	.big-img{
		height: 50px;
	}

	.t1{
		font-size: 38px;
	}

	.pl-10{
		padding-left: 0 !important;
	}

	.sidebar{
		position: fixed !important;
		width: 80% !important;
		top: 0;
		z-index: 6;
		display: none;
	}

	.side-child{
		height: 100vh;
		overflow-y: scroll;
		background-color: white;
	}

	.bench{
		display: block;
	}

	#open-menu{
		display: block;
	}

	.side-child{
		width: 50%;
		overflow-y: scroll;
	}

	.contents{
		width: 100%;
	}

	.contents .col-8{
		width: 95%;
	}

}

@media (max-width:  640px){
	.side-child{
		width: 60%;
	}

}



/* 'sm': '640px',
// => @media (min-width: 640px) { ... }

'md': '768px',
// => @media (min-width: 768px) { ... }

'lg': '1024px',
// => @media (min-width: 1024px) { ... }

'xl': '1280px',
// => @media (min-width: 1280px) { ... }

'2xl': '1536px',
// => @media (min-width: 1536px) { ... }
*/

