@import url('https://fonts.cdnfonts.com/css/liberation-mono');
@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


*{
    font-size: 17px;
    font-family: 'Gilroy-Medium', sans-serif;
    /*font-family: 'Futura PT', sans-serif;*/
    color: #393A3C;
    border-color: #DADCE0;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol"; 

}

.smoky{
    background-color: #F1F5F9;
}

.gg, .gg *{
    font-family: 'Gilroy-Medium', sans-serif !important;
}

.font-bold{
    font-weight: 700 !important;
}

.f5{ font-weight: 700; }

.txt, .txt *{ color: #222222 !important; }

nav, .navd{
    background-color: white;
    box-shadow: 0 3px 3px rgb(0, 0, 0, .07);
    border: none !important;
    background-color: #05668d;
}

nav *{
    font-size: 16px;
    color: white;
    font-family: 'Gilroy-Medium', sans-serif;
}

.logo, .logo *{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px !important;
    font-family: 'Futura PT', sans-serif !important;
}

.landy{
    height: 100%;
    background-image: url('../img/land.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.anim{
    background-color: #CEEAD6;
    color: #188038;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    /*font-weight: 500 !important;*/
}

.bolder{
    font-weight: 700 !important;
}

.blue{
    background-color: #01D392;
}


.hill{
    background-color: #F1EDE9;
}

.ban{
    background-color: #FCE8E6;
}

.bg{ background-color: #23272A; }

svg { color: inherit !important; }

.smoky{ background-color: #F1EDE9; }

.imger{
    width: 25px;
}

.code , .blend{
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Liberation Mono', sans-serif !important;
    background-color: #F6F6F6 !important;
    border: 1px solid #E5EAF2 !important;
}


.foot{
    background-color: #F7F7F8 !important;
}

.foot *{ color: #202020 !important; }

.txc { color: #404EED !important; }


.sidebar{
    padding: 30px;
    padding-top: 20px;
    background-color: #E8F0FE;
}

.sidebar *{
    font-size: 16px ;
    color: #3f4348;
    font-weight: 500;
    font-family: 'Gilroy-Medium', sans-serif !important;
}

.sidebar a{
}

.sidebar a:hover{
    background-color: #F3F6F9;
}

.cat{
    /*font-size: 18px !important;*/
    color: #707070 !important;
}

.sidebar a:hover{
    text-decoration: underline !important;
    color: #3676ab !important;
}



.content{ background-color: white; }

.link { color: #185abc !important; }

.link:hover{text-decoration: underline;}

.text-white{ color: #fff !important; }

.line {
    height: 1px;
    background-color: #D8DEE4;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: none;
}


.menu{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    height: 100vh;
}

.back{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000a0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(15px);
   -moz-backdrop-filter: blur(15px);
   -ms-backdrop-filter: blur(15px);
}

.input{
    background-color: #EBEDF5;
    border: 1px solid #EBEDF5;
}

.input:hover{
    border-color: #CBD5E1;
    background-color: white;
}

input{
    background-color: transparent;
}


.alert{
    border: 1px solid #DADCE0;
    background-color: #F0F8FF;
    border-radius: 5px;
    padding: 15px;
}

.alert *{
    color: #5f6368;
}

.alert .at{
    text-transform: uppercase;
    font-size: 13px;
    color: #0070BB;
    margin-bottom: 4px;
}

.alert-blue{background-color: #E8F0FE;}
.blue { color: #1967d2; }

.alert-green{background-color: #CEEAD6;}
.green{ color: #188038; }

.alert-red{background-color: #FCE8E6;}
.red{ color: #ea4335; }

.alert-yellow{background-color: #FDE293;}
.yellow { color: #000; }

.bold{
    font-weight: 600;
}