@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

.code *, .code{
	font-size: 15px !important;
	line-height: 22px !important;
    font-family: 'Fira Mono', monospace !important;
    /*color: #2f2c23 !important;*/
    background-color: #242424;
}

.flare-keywords{
	color: #57b5f4 !important;
}

.flare-call{
	color: #eab095 !important;
}

.flare-attributes{
	color: #eab095 !important;
}

.flare-numbers{
	color: #005cc5 !important;
}

.flare-operators{
	color: #22863a !important;
}


.flare-strings, span2, .flare-strings *{
	color: #ccb88f !important;
}

.flare-comments, .flare-comments *{
	color: #8c8c8c !important;
	font-style: italic;
}

@media (max-width: 650px){
	.code *, .code{
		font-size: 14px !important;
		line-height: 24px !important;
	}

}
