@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

.code *, .code, .code2{
	color: #001080;
	font-family: 'Cousine', monospace;
}

.flare-keywords{
	color: #af00db !important;
}

.flare-call{
	color: #0000ff !important;
}

.flare-attributes{
	color: #795e26 !important;
}

.flare-numbers{
	color: #267f99 !important;
}

.flare-operators{
	color: #22863a !important;
}


.flare-strings, span2, .flare-strings *{
	color: #a31515 !important;
}

.flare-comments, .flare-comments *{
	color: #8c8c8c !important;
	font-style: italic;
}

@media (max-width: 650px){
	.code *, .code{
		font-size: 14px !important;
		line-height: 24px !important;
	}

}
